* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", "Noto Sans", sans-serif;
}
header {
  background-image: url("/src/images/chain.jpg");
  background-size: cover;
}
header > h1 {
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
}

.nolog {
  font-size: 3vw;
}
.nologli {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15vw;
  margin-bottom: 2vw;
  max-height: 15%;
}
.avatar {
  display: flex;
  justify-content: center;
}
.ppic {
  width: 20%;
  height: 20%;
  border-radius: 100%;
  border: 3px solid black;
}
article > img {
  max-width: 20vw;
  min-width: 20vw;
  max-height: 20vw;
  min-height: 20vw;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > h1 {
  display: flex;
  justify-content: center;
}
button {
  color: #0099cc;
  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 6px;
  color: white;
  padding: 8px 8px;
  text-align: center;
  display: inline-block;
  font-size: 8px;
  margin: 4px 1px;
  -webkit-transition-duration: 0.4s;  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}
button:hover {
  background-color: #fff;
  color: #5b6380;
}
.botones {
  display: block;
  justify-content: center;
  font-size: 1.5vw;
}
.boton {
  font-size: 100%;
  margin-left: 5px;
  margin-right: 5px;
  width: 30vw;
  height: 3.5vh;
  padding: 1px;
  box-shadow: 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  min-width: 70vw;
}
#titulo {
  width: 100%;
}
#descripcion {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.5vw;
  border-radius: 16px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  font-family: "Montserrat", sans-serif;
}
#url {
  width: 50vw;
}
#image {
  width: 100%;
}
ul {
  width: 60vw;
  list-style: none;
}
a {
  color: black;
}
input[type="file"]::file-selector-button {
  font-size: 100%;
  margin-left: 5px;
  margin-right: 5px;
  width: 18vw;
  height: 4vh;
  padding: 1px;
  box-shadow: 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  color: #5b6380;
  text-shadow: 1px 1px 0 #fff;
}