header > h1 {
  display: flex;
  justify-content: center;
  font-size: 3vw;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  margin-bottom: 2vw;
}
header {
  max-height: 25%;
}
